[
 :acacia-leaves
 :acacia-log
 :acacia-planks
 :amethyst-block
 :amethyst-cluster
 :ancient-debris
 :andesite
 :azalea-leaves
 :barrel
 :basalt
 :beacon
 :bedrock
 :bee-nest
 :beehive
 :bell
 :birch-leaves
 :birch-log
 :birch-planks
 :black-concrete
 :black-glazed-terracotta
 :black-shulker-box
 :black-stained-glass
 :black-terracotta
 :black-wool
 :blackstone
 :blast-furnace
 :blue-concrete
 :blue-glazed-terracotta
 :blue-ice
 :blue-shulker-box
 :blue-stained-glass
 :blue-terracotta
 :blue-wool
 :bone-block
 :bookshelf
 :bricks
 :brown-concrete
 :brown-glazed-terracotta
 :brown-mushroom-block
 :brown-shulker-box
 :brown-stained-glass
 :brown-terracotta
 :brown-wool
 :budding-amethyst
 :cactus
 :cake
 :calcite
 :cartography-table
 :carved-pumpkin
 :cauldron
 :chain
 :chain-command-block
 :chiseled-deepslate
 :chiseled-nether-bricks
 :chiseled-polished-blackstone
 :chiseled-quartz-block
 :chiseled-red-sandstone
 :chiseled-sandstone
 :chiseled-stone-bricks
 :clay
 :coal-block
 :coal-ore
 :coarse-dirt
 :cobbled-deepslate
 :cobblestone
 :command-block
 :composter
 :copper-block
 :copper-ore
 :cracked-deepslate-bricks
 :cracked-deepslate-tiles
 :cracked-nether-bricks
 :cracked-polished-blackstone-bricks
 :cracked-stone-bricks
 :crafting-table
 :crimson-nylium
 :crimson-planks
 :crying-obsidian
 :cut-copper
 :cut-red-sandstone
 :cut-sandstone
 :cyan-concrete
 :cyan-glazed-terracotta
 :cyan-shulker-box
 :cyan-stained-glass
 :cyan-terracotta
 :cyan-wool
 :dark-oak-leaves
 :dark-oak-log
 :dark-oak-planks
 :dark-prismarine
 :deepslate
 :deepslate-bricks
 :deepslate-coal-ore
 :deepslate-copper-ore
 :deepslate-diamond-ore
 :deepslate-emerald-ore
 :deepslate-gold-ore
 :deepslate-iron-ore
 :deepslate-lapis-ore
 :deepslate-redstone-ore
 :deepslate-tiles
 :diamond-block
 :diamond-ore
 :diorite
 :dirt
 :dirt-path
 :dispenser
 :dripstone-block
 :dropper
 :emerald-block
 :emerald-ore
 :enchanting-table
 :end-portal-frame
 :end-stone
 :end-stone-bricks
 :exposed-copper
 :exposed-cut-copper
 :farmland
 :fletching-table
 :flowering-azalea-leaves
 :furnace
 :gilded-blackstone
 :glass
 :glass-pane
 :glowstone
 :gold-block
 :gold-ore
 :granite
 :grass-block
 :gray-concrete
 :gray-glazed-terracotta
 :gray-shulker-box
 :gray-stained-glass
 :gray-terracotta
 :gray-wool
 :green-concrete
 :green-glazed-terracotta
 :green-shulker-box
 :green-stained-glass
 :green-terracotta
 :green-wool
 :grindstone
 :hay-block
 :honey-block
 :honeycomb-block
 :ice
 :iron-bars
 :iron-block
 :iron-ore
 :jack-o-lantern
 :jigsaw
 :jukebox
 :jungle-leaves
 :jungle-log
 :jungle-planks
 :lantern
 :lapis-block
 :lapis-ore
 :light-blue-concrete
 :light-blue-glazed-terracotta
 :light-blue-shulker-box
 :light-blue-stained-glass
 :light-blue-terracotta
 :light-blue-wool
 :light-gray-concrete
 :light-gray-glazed-terracotta
 :light-gray-shulker-box
 :light-gray-stained-glass
 :light-gray-terracotta
 :light-gray-wool
 :lightning-rod
 :lime-concrete
 :lime-glazed-terracotta
 :lime-shulker-box
 :lime-stained-glass
 :lime-terracotta
 :lime-wool
 :lodestone
 :loom
 :magenta-concrete
 :magenta-glazed-terracotta
 :magenta-shulker-box
 :magenta-stained-glass
 :magenta-terracotta
 :magenta-wool
 :medium-amethyst-bud
 :melon
 :moss-block
 :mossy-cobblestone
 :mossy-stone-bricks
 :mycelium
 :nether-bricks
 :nether-gold-ore
 :nether-quartz-ore
 :nether-wart-block
 :netherite-block
 :netherrack
 :note-block
 :oak-leaves
 :oak-log
 :oak-planks
 :observer
 :obsidian
 :orange-concrete
 :orange-glazed-terracotta
 :orange-shulker-box
 :orange-stained-glass
 :orange-terracotta
 :orange-wool
 :oxidized-copper
 :oxidized-cut-copper
 :packed-ice
 :pink-concrete
 :pink-glazed-terracotta
 :pink-shulker-box
 :pink-stained-glass
 :pink-terracotta
 :pink-wool
 :piston
 :podzol
 :polished-andesite
 :polished-basalt
 :polished-blackstone
 :polished-blackstone-bricks
 :polished-deepslate
 :polished-diorite
 :polished-granite
 :prismarine
 :prismarine-bricks
 :pumpkin
 :purple-concrete
 :purple-glazed-terracotta
 :purple-shulker-box
 :purple-stained-glass
 :purple-terracotta
 :purple-wool
 :purpur-block
 :purpur-pillar
 :quartz-block
 :quartz-bricks
 :quartz-pillar
 :raw-copper-block
 :raw-gold-block
 :raw-iron-block
 :red-concrete
 :red-glazed-terracotta
 :red-mushroom-block
 :red-nether-bricks
 :red-sandstone
 :red-shulker-box
 :red-stained-glass
 :red-terracotta
 :red-wool
 :redstone-block
 :redstone-lamp
 :redstone-ore
 :repeating-command-block
 :respawn-anchor
 :rooted-dirt
 :sandstone
 :sculk-sensor
 :sea-lantern
 :shroomlight
 :shulker-box
 :slime-block
 :small-amethyst-bud
 :smithing-table
 :smoker
 :smooth-basalt
 :smooth-stone
 :smooth-stone-slab
 :soul-lantern
 :soul-sand
 :soul-soil
 :spawner
 :sponge
 :spruce-leaves
 :spruce-log
 :spruce-planks
 :stone
 :stone-bricks
 :stonecutter
 :stripped-acacia-log
 :stripped-birch-log
 :stripped-dark-oak-log
 :stripped-jungle-log
 :stripped-oak-log
 :stripped-spruce-log
 :structure-block
 :target
 :terracotta
 :tinted-glass
 :tnt
 :tuff
 :turtle-egg
 :warped-nylium
 :warped-planks
 :warped-wart-block
 :weathered-copper
 :weathered-cut-copper
 :wet-sponge
 :white-concrete
 :white-glazed-terracotta
 :white-shulker-box
 :white-stained-glass
 :white-terracotta
 :white-wool
 :yellow-concrete
 :yellow-glazed-terracotta
 :yellow-shulker-box
 :yellow-stained-glass
 :yellow-terracotta
 :yellow-wool
 ]
