[
 :stray
 :husk
 :goat
 :cat
 :villager
 :ender-signal
 :arrow
 :pufferfish
 :primed-tnt
 :donkey
 :warden
 :bee
 :shulker-bullet
 :fox
 :zombie
 :cave-spider
 :ocelot
 :glow-item-frame
 :ender-pearl
 :leash-hitch
 :polar-bear
 :silverfish
 :pillager
 :bat
 :squid
 :unknown
 :dragon-fireball
 :guardian
 :phantom
 :cod
 :mule
 :marker
 :wolf
 :lightning
 :panda
 :vex
 :falling-block
 :chest-boat
 :small-fireball
 :minecart-furnace
 :blaze
 :vindicator
 :splash-potion
 :salmon
 :axolotl
 :dolphin
 :ghast
 :painting
 :evoker
 :item-frame
 :drowned
 :mushroom-cow
 :spider
 :egg
 :skeleton
 :piglin
 :dropped-item
 :creeper
 :magma-cube
 :armor-stand
 :frog
 :skeleton-horse
 :evoker-fangs
 :thrown-exp-bottle
 :shulker
 :pig
 :trader-llama
 :parrot
 :iron-golem
 :glow-squid
 :tadpole
 :elder-guardian
 :minecart-hopper
 :minecart-chest
 :tropical-fish
 :hoglin
 :allay
 :ender-crystal
 :strider
 :zoglin
 :fishing-hook
 :enderman
 :witch
 :minecart-tnt
 :sheep
 :player
 :firework
 :giant
 :fireball
 :rabbit
 :zombified-piglin
 :snowman
 :trident
 :zombie-villager
 :llama
 :piglin-brute
 :spectral-arrow
 :llama-spit
 :experience-orb
 :wither-skull
 :horse
 :turtle
 :zombie-horse
 :endermite
 :cow
 :wandering-trader
 :area-effect-cloud
 :minecart-command
 :minecart-mob-spawner
 :wither-skeleton
 :boat
 :slime
 :minecart
 :chicken
 :ender-dragon
 :ravager
 :snowball
 :wither
 :illusioner
 ]
